* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

body,html {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(92, 199, 241);
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 390px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.881);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 23px;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.377);
    padding: 0px 25px;
    border: none;
}

.card h1 {
    /* position: absolute; */
    top: 100px;
}

.card h3 {
    transition: 500ms;
    color: rgb(0, 96, 134);
    font-size: 22px;
    margin-top: -5px;
}

.card img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    /* position: absolute; */
    /* top: 20px; */
    /* margin-top: -50px; */
}

.card button {
    padding: 10px 25px;
    border: none;
    border-radius: 07px;
    background-color: rgba(85, 207, 255, 0.411);
    font-weight: 500;
    font-size: 15px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* margin-bottom: -60px; */
}